{% extends "base_template.html" %}
{% block head %}
    <script type="text/javascript">

        // Load the Visualization API and the piechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = $.ajax({
                url: "{{json_url}}",
                dataType: "json",
                async: false
            }).responseText;
            {% block set_data %} 
            {% endblock %}

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, {height: 800, title: "{{pagetitle}}" });
        }

    </script>
{% endblock %}
{% block body %}
<form class="form-inline">
<div class="form-group">
    <label for="hours">Time Span</label>
    <select name="hours" id="hours" onchange="drawChart()" class="form-control" width="100px">
        <option value="1">Last hour</option>
        <option value="3">Last 3H</option>
        <option value="5" selected="selected">Last 5H</option>
        <option value="24">Last 24h</option>
    </select>
    <div class="checkbox"><label><input type="checkbox" id="sensor0" onchange="drawChart()" checked> Lower Sensor</label></div>
    <div class="checkbox"><label><input type="checkbox" id="sensor1" onchange="drawChart()" checked> Upper Sensor</label></div>
    <div class="checkbox"><label><input type="checkbox" id="sensor3" onchange="drawChart()" checked> Average</label></div>
</div>
</form>
<div id="chart_div"></div>
{% endblock %}
    
